HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### maven ###
VisitMyCities-Visiteur/.project
VisitMyCities-Visiteur/target/*
*.class
*.class
VisitMyCities-Visiteur/target/classes/fr/lpdaoo/mycities_dominique_nono/controller/VisiteurController.class
VisitMyCities-Visiteur/target/classes/fr/lpdaoo/mycities_dominique_nono/MycitiesDominiqueNonoApplication.class
